html{
    padding: 0%;
    margin: 0%;
}

.contatiner{
    margin: 15%;
    padding: 20px;
    display: flex;
}

.img{
    text-align: center;
}

.producto{
    padding: 20px;
    margin-top: -15%;
    box-shadow: 0 0 2px black;
    margin-left: 5%;
}

.info{
    padding: 20px;
}

.main_buton{
    padding: 10px;
    margin: 5px;
    width: 100%;
}