html, body{
    background-color: black;
   
}

.compra{
    align-items: center;
    color: white;
    font-size: 10px;
    margin-top: 12%;
    
}

.imagen{
    margin: auto;
    display: block;
    margin-left: 42%;
    margin-right: 30%;
}

.compra h1{
    padding-left: 35.5%;
}

a{
    color: aliceblue;
    padding-left: 43%;
    text-decoration: none;
}