/*--------------------VARIABLES*/
:root{
    --green-color:#7ACC2D;
    --white-color: white;
}

/*--------------------VARIABLES*/

html,body{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/*
.brand_image img{ -- Entro el el div brand_image y me coloco en las imagenes de ese div para solo modificar la anchura y la altura de la o las imagenes que se encuentren en ese div
    width: 90px; Anchura
    height: 50px;
}

/*------Cambios generales que tiene el Nav y lo que este contiene*/

nav{
    display: flex; /*Hacer que los elementos en el nav se dispersen a lo largo del nav y no se vayan escribiendo abajo*/
    background-color: var(--green-color);
    padding: 10px;
    color: var(--white-color);
    justify-content: space-between  ; /* Generar un espacion entro los div (contenedores) */
    align-items: center; /*Alinear el texto y o imagenes dentro del nav*/
    padding-left: 40px;
}

nav ul{
    display: flex; /*Hacer que la lista no se escriba hacia abajo si no a lo largo a traves del nav*/
}

nav li{
    padding-right: 40px; /*Separacion interior de lado derecho a los elementos*/
    list-style: none; /*Quitar el estilo de las listas, es decir : +Lista ---> Lista*/
}

nav li a{
    color: black;
    text-decoration: none; /*Quitar el subrayado que tienen los hipervinculos y de igual forma el color azul*/
}

nav li a:hover{ /*hover: es igual a las caracteristicas que va a adoptar ese atributo o en este caso ese hipervinculo cuando pases el mouse sobre eñ*/
    color: var(--white-color);
}

/*------Cambios generales que tiene el Nav y lo que este contiene*/


/* Main section */

.main_section{
    padding: 15%;
    text-align: center;
    margin-top: -3%;
}

.products{
    background-image: url("../imagenes/curve.png");
    height: 50px;
    background-size: cover; /*Esta funcion nos sirve para que la imagen de fondo esta seccion de la pagina se ajuste al tamaño de la pantall*/
    background-position: center top; /*Alineacion en el centro en la parte de arriba de esta seccion (top)*/
    padding: 20%;
    display: flex;
}

/*----SECCION DE LAS TARJETAS DE PRODUCTOS*/

.product{
    padding: 10px;
    margin-top: -25%;  
}

.product .content{
    background-color: wheat;
    padding: 15px;
    box-shadow: 0 0 2px black;
}

.images{
    text-align: center;
}

/*----SECCION DE LAS TARJETAS DE PRODUCTOS*/



.main_buton{
    background-color: var(--green-color);
    padding: 10px;
    text-align: center;
    width: 100%; /*A LA SECCION DEL BOTON LE DECIMOS QUE OCUPE TODO EL ESPACIO DE LA TARJETA*/
    font-size: 14px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.main_buton:hover{
    background-color: #5e9e22; /*CADA QUE PASA EL CURSOR HAY UN CAMBIO DE COLOR*/
}


/*-------------AQUI COMIENZA LA SEGUNDA SECCION DE LA PAGINA----------------*/

.opciones{
    display: flex;
    padding: 20px;
    padding-left: 1px;
}

.product2{
    padding: 3%;
}

.contenido{
    padding: 10px;
    font-size: 13px;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 30px;
}

.nuevo{
    display: flex;
    padding: 10px;
}

.product3{
    box-shadow: 0 0 2px black;
    margin: 15px;
}

.contenido1{
    padding: 20px;
    text-align: center;
}

#Menciones img{
    width: 100%;
}

footer{
    color: aliceblue;
    width: 100%;
    height: 50px;
    background-color: black;
    align-items: center;
}

.footer{
    padding: 20px;
}